<h1>Shipping Cost Calculator</h1>
<form action="/cost">
  <div class="form-group">
    <label class="form-label" for="height">Enter height of parcel:</label>
    <input id="height" name="height" class="form-control" type="text" placeholder=<%= @height %>>
  </div>
  <div class="form-group">
    <label class="form-label" for="length">Enter length of parcel:</label>
    <input id="length" name="length" class="form-control" type="text" placeholder=<%= @length %>>
  </div>
  <div class="form-group">
    <label class="form-label" for="width">Enter width of parcel:</label>
    <input id="width" name="width" class="form-control" type="text" placeholder=<%= @width %>>
  </div>
  <div class="form-group">
    <label class="form-label" for="weight">Enter weight of parcel:</label>
    <input id="weight" name="weight" class="form-control" type="text" placeholder=<%= @weight %>>
  </div>
  <button type="submit" class="button">Calculate Cost</button>
</form>
<div class="results">
  <p>It will cost <%= @cost %> USD to ship your parcel.</p>
</div>
